{% extends "store/base_store.html" %}
{% block title %}
    Creating order
{% endblock %}
{% block content %}
    <h1>Create order</h1>
{% if products_in_cart %}
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id,product_info in products_in_cart.items %}
                <tr>
                    <th>{{ product_info.name}}</th>
                    <th> {{ product_info.count }}</th>
                    <th>{{ product_info.price }}USD</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'creating_order' %}" method="post">
    {% csrf_token %}
        <div align="right">
        <input type="submit" class="btn btn-success mr-1 mt-3">
            </div>
    </form>
{% endif %}

{% endblock %}