{% extends "store/base_store.html" %}
{% block title %}
     Login
{% endblock %}
{% block content %}
    <h1>Log in</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" class="ml-3">
        {% csrf_token %}

        <div class="form-group col-sm-3" >
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            </div>
        <div class="form-group col-sm-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>

    <input type="submit" class="btn btn-primary ml-3" value="Log in">
    </form>
{% endblock %}